<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <link rel="shortcut icon" href="https://github.com/mayeedwin/pwafire/blob/master/_layouts/pwafirelogo.png" type="image/png"/>  
    <meta charset="UTF-8">
	  
{% seo %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#fff">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
     
    <!-- github follow button config -->

     <script async defer src="https://buttons.github.io/buttons.js"> </script>
	
	  <!-- Global site tag (gtag.js) - Google Analytics -->
	  
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111993564-1"></script>
	  
   <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111993564-1');
	
   </script>
	
   <!-- manifest  -->
	  
<link rel="manifest" href="/manifest.json">
	  
<!-- end-manifest -->
	  
  </head>

  <body>
	  
	

    <section class="page-header">

      <!-- <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1> -->
      
      <h1 class="project-name"> PWAFire.Org </h1>

      <!-- <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2> -->
	    
	    <h2 class="project-tagline"> Documentation </h2>
	    

      {% if site.github.is_project_page %}

         <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>

      {% endif %}

       {% if site.show_downloads %}

         <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>

        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>

      {% endif %} 
	   
    </section>

    <section class="main-content">
	    
      <footer class="site-footer">
	      
      {{ content }}
	    
	    <!-- Message and Follow on Twitter -->
	    
	<div>
	<a href="https://twitter.com/pwafire?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="true">Follow @pwafire</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	
	<a href="https://twitter.com/mayeedwin1?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="true">Follow @mayeedwin1</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	
	<a href="https://twitter.com/intent/tweet?screen_name=pwafire&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="large" data-show-count="false">Tweet to @pwafire</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	      
	</div>
	      
	     
	      
        {% if site.github.is_project_page %}

          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}"> PWA Fire Bundle</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
	  
	  <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
     
	 {% endif %}
	      
      </footer>
	    
    </section>

	  <!-- register service-worker -->
	  
	<script>
	
	    if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
    navigator.serviceWorker.register('/sw.js')
    .then(function() { console.log("Service Worker Registered"); });
  }
  
  );
}
	
  </script>
		<!-- end of servive-worker -->
	  
  </body>
	  		
</html>
